<li class='item skill skill-card' data-item-id='{{id}}'>
  <header class='card-header flexrow' data-item-id='{{id}}'>
    <img class='skill-icon' src='{{img}}' />
    <button type='button' class='skill-name item-name' title='{{name}}'>
      {{#if data.data.isCoreSkill}}★ {{/if}}{{name}}
      {{#if data.data.attribute}}
          ({{localizeSkillAttribute data.data.attribute @root.useAttributeShorts}})
      {{/if}}
    </button>
    <button
      type='button'
      class='skill-die'
      title='{{localize 'SWADE.Roll'}} {{name}}'
    >
      d{{data.data.die.sides}}{{modifier data.data.die.modifier}}
    </button>
    <div class='item-controls'>
      {{#if isOwner}}
        <button
          type='button'
          class='item-control item-edit'
          title='{{localize 'SWADE.Ed'}} {{name}}'
        >
          <i class='fas fa-edit'></i>
        </button>
      {{/if}}
    </div>
  </header>
  <div class='card-content' style='display: none;'>
    {{#if data.data.description}} {{enrich data.data.description}} {{else}}
      <div class='swade-core'><p>No description available</p></div>
    {{/if}}
  </div>
</li>